:root {
    --background-color: #1E1E1E;
    --not-active: #C8C8C8;
    --active: #FFFFFF;
    --grow-width: 1000px;
}

.audio-player {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    width: 90vw;
    margin: 20px 0;
}

.audio-player > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.audio-player > div > * {
    margin: 10px;
}

.audio-player > div > h2 {
    font-size: 2rem;
    font-weight: lighter;
}

audio {
    border-radius: 10px;
    background-color: var(--active);
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button{
    display: none;
}

.buttons > button > a > img {
    height: 60px;
    aspect-ratio: 1.2;
    object-fit: contain;
}

.buttons > button {
    background: transparent;
    border: none;
}

@media (max-width: 816px) {
    div {
        margin: auto;
    }
}

.audio-player > div {
    animation-delay: calc(200ms * var(--animation-speed) * var(--order) + 3s * var(--animation-speed));
}

