:root {
    --si-height: 40vh;
    --background-colour: #1E1E1E;
    --shadow-colour: #0a0a0a;
    --primary-colour: #EAEAEA;
    --not-active: #cccccc;
    --accent-colour: #B380D9;
    --accent-translucent: #d49bff50;
    --to-play: #6f6f6f;
}

.si-master {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    height: var(--si-height);
    height: fit-content;
    flex-basis: 1;
}

.heading-content {
    position: relative;
    width: 100%;
    margin-block: 2rem;
    text-align: center;
    font-size: 4rem;
}

.heading-content::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 5px;
    background: radial-gradient(var(--primary-colour), transparent 60%);
}

.cd-cover {
    aspect-ratio: 1;
    border-radius: .5rem;
    height: 20vw;
    background-size: contain;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.si-container {
    display: flex;
    width: 70vw;
    gap: 1.5vw;
    align-items: center;
}

.si-info {
    display: flex; flex-direction: column;
    gap: 1rem;
    width: clamp(80vw, 40vw, 20vw)
}

.si-par {
    font-weight: 400;
}

.si-title {font-weight: 500;}

.links {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.links > a > img {
    height: 2rem;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 5px 1rem var(--shadow-colour));
}

.track-titles {font-size: 1.25rem; font-weight: 100; margin-top: auto;}

.track-titles > span:not(:last-child)::after{
    content: '·';
    margin-inline: .5em;
    display: inline-block;
}

.buy-now {
    margin-left: auto;
    color: var(--primary-colour);
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.buy-now > button {
    padding: .5rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    background: var(--accent-translucent);
    border: 1px var(--not-active) solid;
    border-radius: .5rem;
    align-items: center;
    font-size: 1.5rem;
    color: var(--primary-colour);
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

.buy-now > button > img {height: 2rem;}

.price {
    font-size: 3rem;
    font-weight: 100;
}

.disabled {pointer-events: none; opacity: 0; display: none;}

.pop-up {
    position: fixed;
    inset: 0;
    max-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    transition: 300ms ease all;
}

.cd-cover > span {display: none}

form > button {
    grid-area: auto;
}

.checkout.disabled {
    display: none;
}

.checkout {
    position: relative;
    display: flex;
    gap: 2.5vw;
    background: var(--background-colour);
    padding: 2.5rem;
    border-radius: 1.125rem;
    border: 1px solid var(--not-active);
    height: 90vh;
}

.exit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    aspect-ratio: 1;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.total-price {
    font-size: 2rem; 
    font-weight: 500;
    margin-top: auto;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.payment-options {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    font-size: 3rem;
    min-width: 60vw;
    background: rgba(255, 255, 255, 0.119);
    border-radius: 1.125rem;
    overflow: auto;
}

.name-of-product {font-size: 1.5rem; font-weight: 200;}

.no-hover {
    height: 60%;
}

.read-more {
    position: relative;
    max-height: 8em;
    overflow: hidden;
    background: linear-gradient(var(--primary-colour) 50%, transparent 80%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 1em;
    transition: 200ms ease all;
}

.read-more::after {
    content: 'Read More...';
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 6.5em;
    width: 100%;
    left: 0;
    text-align: center;
    color: var(--primary-colour);
    cursor: pointer;
    transition: all 200ms ease;
}

.read-more:active, .read-more:focus {
    max-height: 100em;
    background: transparent;
    color: var(--primary-colour);
}
.read-more:focus::after {
    top: 100%;
    bottom: 0em;
    opacity: 0;
    transition: 200ms ease all;
}

body:not(:has(.pop-up.disabled)) {
    height: 100vh;
    overflow: hidden;
}

.scroll-container {
    position: absolute;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    min-width: 30vw;
    padding-inline: 2rem;
}

@media (min-width: 1750px) {
    .scroll-container {
        margin-top: 5rem;
    }
}

@media (min-width: 2150px) {.si-container{width: 50vw}}
@media (max-width: 1750px) {
    .links {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(6, 1fr);
    }
    .buy-now {grid-column-start: 1; grid-column-end: 7; width: 100%; justify-content: left;}
    body:has(:not(.checkout.disabled)) {overflow: hidden}
    .checkout {
        flex-direction: column;
        height: auto;
        width: 60vw;
        height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
        align-items: center;
    }
    form {width: 100%; max-width: none;}
    form > span {text-align: center; font-size: 2.5rem;}
    .payment-options {height: 25em; width: 90%}
    .si-container {
        flex-direction: column;
        width: 40vw;
    }
    .si-info {
        width: auto;
    }
    .payment-options {
        padding: 0px;
        background: transparent;
    }
    .cd-cover.no-hover {
        display: none;
    }
}
@media (max-width: 1450px) {.si-container{width: 80vw;}}
@media (max-width: 1100px) {
    .si-container {flex-direction: column; height: auto; width: 60vw;}
    .cd-cover {height: 25vh;}
    .si-info {width: 100%;}
    .si-title, .si-par, .track-titles {text-align: center;}
    .links {display: flex; width: 100%;}
    .buy-now {margin-left: auto; justify-content: right;}    
}
@media (max-width: 950px) {
    .scroll-container {
        width: 100%;
    }
    .si-info {justify-content: center;}
    .links {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
    }
    .si-title {font-size: 4rem;}
    .buy-now {grid-column-start: 1; grid-column-end: 14; width: 100%; justify-content: center;}
    .links > a:nth-child(1) {grid-column-start: 6;}
    .checkout {
        flex-direction: column;
        height: auto;
        width: 60vw;
        height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
        align-items: center;
    }
    form {width: 100%; max-width: none;}
    form > span {text-align: center; font-size: 2.5rem;}
    .payment-options {height: 25em; width: 90%}
    .si-container {
        flex-direction: column;
        width: 40vw;
    }
    .si-info {
        width: auto;
    }
    .payment-options {
        padding: 0px;
        background: transparent;
    }
    .cd-cover.no-hover {
        display: none;
    }
}

@media (max-width: 660px) {
    .si-container {width: 80vw;} 
    .si-title{font-size: 3rem;}
    .si-par{font-weight: 100;}
    .checkout {
        width: 90vw;
        height: 90vh;
    }
   form {
       display: flex;
       flex-direction: column;
    }
    form > * {width: 100%;}
}
@media (max-width: 500px) {
    span.price.mobile-hide {display: none;}
    .total-price {font-size: 1.5rem;}
    .links > a > img {height: 1.5rem;}
    .cd-cover {width: 70vw; height: auto; position: relative; overflow: hidden;}
    .cd-cover > span {
        display: flex;
        position: absolute;
        bottom: -2em;
        right: -2em;
        padding: 5rem;
        font-size: 2rem;
        background: radial-gradient(102.65% 102.14% at 73.58% 73.86%, var(--shadow-colour) 32.27%, rgba(0, 0, 0, 0.00) 73.61%);
    };
    .checkout > .basket {
        display: flex;
        flex-direction: column;
    }
    .scroll-container {
        left: 0;
        transform: none;
        padding: .5rem;
        transform: scale(.9) translateY(10%);
    }
}
@media (max-width: 430px) {
    .links {display: flex; flex-wrap: wrap; justify-content: center;}
}

