/* Import Roboto Condensed Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-colour: #1E1E1E;
    --shadow-colour: #0a0a0a;
    --primary-colour: #EAEAEA;
    --not-active: #cccccc;
    --accent-colour: #B380D9;
}

html, body {overflow-x: clip;}

body {
    background: var(--background-colour);
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, p, span, a {color: var(--primary-colour)}

h1 {font-size: 6rem;}
h2 {font-size: 4rem;}
p {font-size: 1.275rem; font-weight: 100;}
p > span {font-weight: 600}

.fs-page-title, .fs-website {
    font-size: 6rem;
    font-weight: 300;
    text-shadow: 0 0.5rem 0.1em var(--shadow-colour);
}

.fs-subheading, .fs-website-heading {
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

.fs-heading {
    font-size: 5rem;
    font-weight: 300;
    text-shadow: 0 0.5rem 0.1em var(--shadow-colour);
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(26, 26, 26, 0.1);
    backdrop-filter: blur(20px);
}

section {
    width: 100%;
    padding: 2rem 4rem;
}

.max-width {
    padding: 0;
    margin: 0;
}

header > nav {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 1em;
}

header > nav > ul {
    gap: 5rem;
    display: flex;
}

header > nav > ul > a {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.1rem;

    text-decoration: none;
    color: var(--not-active);

    transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header > nav > ul > a::after {
    content: '';
    display: inline-flex;
    background: var(--primary-colour);
    height: 2px;
    border-radius: 1px;
    width: 0%;
    
    transition: width 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-btn {display: none;}

header > nav > ul > a:hover{color: var(--primary-colour)}

header > nav > ul > a:hover::after {width: 100%}

header > nav > ul > a.current-page::after {width: 100%}

.current-page {color: var(--primary-colour)}

@media (max-width: 950px) {
    h1, .fs-page-title, .fs-website {font-size: 4rem;}
    h2 {font-size: 2rem;}
    .fs-page-title {font-size: 4rem;}
    .fs-subheading, .fs-website-heading {font-size: 2rem;}
}

@media (max-width: 780px) {
    header > nav > ul > a {font-size: 1.75rem;}
    .fs-heading {font-size: 4rem;}
}

@media (max-width: 750px) {
    .fs-heading {font-size: 4rem;}
    .fs-website-heading {font-size: 2.75rem; color: var(--primary-colour)}
    header {
        
        position: fixed;
        transition: all 1s ease;
    }

    header:has(.menu-active) {
        position: fixed;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
    }

    .menu-btn {
        padding: .75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-colour);
    }
    .menu-button {
        width: 3rem;
        text-align: center;
        font-size: 2.5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--primary-colour);
    }

    .menu-btn > h3 {
        font-weight: 100;
        font-size: 1.5rem;
    }
    header > nav {
        opacity: 0; 
        pointer-events: none; 
        align-items: center;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        transition: opacity 500ms ease;
        
    }
    header > nav.menu-active {
        opacity: 1;
        pointer-events: all;
        height: 100%;
    }
    header > nav > ul {
        gap: 0%;
        flex-direction: column;
        align-items: center;
        transition: 1s ease;
    }
    header > nav.menu-active > ul {
        gap: 5rem;
    }

    header > nav.menu-active > ul > a {width: fit-content}

    .title-section {margin-top: 4em}

    .about-us {padding: 2.25rem}

    .about-us > p:not(:first-of-type) {
        width: 100%;
        text-align: justify;
    }
}

@media (max-width: 610px) {
    .fs-heading {font-size: 3rem;}
    .fs-page-title {font-size: 3.5rem; text-align: center;}
    .fs-website {display: none}
    .fs-subheading {font-size: 1.5rem;}
}

.title-section {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title-section > .display-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -10;
}

.banner {
    position: relative;
    width: 100%;
    height: 60vw;
    display: flex;
    opacity: 0;
    gap: 60%;
    background: url(Images/Banner-Images/main-image.png) no-repeat;
    background-size: cover;
    justify-content: center;

    animation: forwards page-load-banner-images 2s ease;
}

.banner > img {
    --gap: -5%;
    margin: 0 var(--gap);
    align-self: flex-end;
    height: 105%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
    -webkit-filter: drop-shadow(0px 0px 2em var(--shadow-colour));
    filter: drop-shadow(0px 0px 2em var(--shadow-colour));
}

@keyframes page-load-banner-images {100% {gap: 0%; opacity: 1;}}

.about-us {
    margin: auto;
    display: grid;
    width: clamp(100%, 60%, 50%);
    gap: 2rem 3rem;
}

.about-us-image {
    grid-row: 3 / 4;
    height: 35em;
    background-image: url(Images/about-us.png);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0px 10px 1em var(--shadow-colour));
    filter: drop-shadow(0px 10px 1em var(--shadow-colour));
}


.about-us > p:first-of-type {font-size: 1.75rem;}

@media (min-width: 1200px) {
    .about-us {
        grid-template-columns: 6fr 4fr;
    }

    .about-us > h2 {
        grid-column: span 2;
        text-align: center;
    }

    .about-us-image {
        background-position: top center;
        background-size: contain;
        height: auto;
        grid-column: 2 / 3;
        grid-row: 2 / 5;
    }
}

@media (max-width: 625px) {
    .about-us-image {
        width: 250px;
        height: 300px;
    }
}